

p 
{
    font-size: 16px;
      	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}


h1, h2, h3, h4, h5, h6, small
{
  	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}


label 
{
  display: block;
}


.highlight {
    padding: 9px 1%;
    margin-bottom: 1%;
    background-color: #eee;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    border: 1px solid rgba(181, 0, 0, 1);

}



.btn
{border-radius: 0px;
    	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    box-shadow: 2px 2px 1px grey;
}


#about 
{
    background-color: #EEEEEE !important;
    padding-top: 1%;   
}

#contact2 
{
    background-color: #EEEEEE !important;
}

#contact3 
{
    background-color: #EEEEEE !important;
}

a
{      	
  color: rgba(181, 0, 0, 1);
}


