<nav class="navbar navbar-inverse bg-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">myAuto V2</a>
        </div>
        <ul class="nav navbar-nav navbar-left">

            <li><a href="/home">Home</a></li>
            <li><a href="/garage">Garage</a></li>
        </ul>
        <div *ngIf="isLoggedIn">
            <ul class="nav navbar-nav navbar-right border-left">
                <li><a (click)="logout()">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><b>{{afService.displayName}}</b></a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </div>
        <div *ngIf="isLoggedIn!=true">
            <ul class="nav navbar-nav navbar-right border-left">
                <li><a href="/login">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="app-content">
    <router-outlet></router-outlet>
</div>
