input[type='file']{
  font-size:25px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    
}

input[type='file'].button{
  background-color:white;
  font-size:50px;
}

#usercars {
    background-color: #EEEEEE !important;
     
}

#usercar
{
 border-bottom: 10px solid white;
    
}

#comments
{
 background-color: #cccccc !important;
    
}

label {
  display: block;
}

.postedby {
    font-size: 10px;
}

.usercar-text {
    display: block;
    padding: 9.5px;
    	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;

}
p {
    font-size: 16px;
    	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}


h1, h2, h3, h4, h5, h6, small
{
  	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  
}




.highlight {
    padding: 9px 1%;
    margin-bottom: 1%;
    background-color: #eee;
    	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    border: 1px solid rgba(181, 0, 0, 1);

}

.btn
{border-radius: 0px;
    	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    box-shadow: 2px 2px 1px grey;
}

