<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1><b>myAuto</b> Garage</h1>

            <figure class="highlight">
                <div *ngIf="afService.displayName==null">
                    <p>You need to be logged in to post.</p>
                </div>
                <div *ngIf="afService.displayName!=null">
                    <!-- Sort By -->

                    <a (click)="lgModal.show()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add A Car</a>
                    <div class="btn-group" dropdown>
                        <button id="single-button" type="button" class="btn btn-primary" dropdownToggle><span class="glyphicon glyphicon-sort-by-attributes"></span> &nbsp; &nbsp; Sort By... <span class="caret"></span> </button>
                        <ul dropdownMenu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a class="dropdown-item" (click)=sortByBrand()>Sort by Brand</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)=sortByUser()>Sort by User</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)=sortByTime()>Sort by Time Posted</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)=sortByLikes()>Sort by Likes</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)=sortByPrice()>Sort by Price</a></li>
                        </ul>
                    </div>


                    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">Add Car</h4>
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h3>Brand:</h3>
                                    <select [(ngModel)]="newUserCar">
                                        <option value="Audi">Audi</option>
                                        <option value="Alfa Romeo">Alfa Romeo</option>
                                        <option value="Aston Martin">Aston Martin</option>
                                        <option value="Bentley">Bentley</option>
                                        <option value="BMW">BMW</option>
                                        <option value="Buick">Buick</option>
                                        <option value="Bugatti">Bugatti</option>
                                        <option value="Cadillac">Cadillac</option>
                                        <option value="Chevrolet">Chevrolet</option>
                                        <option value="Chrysler">Chrysler</option>
                                        <option value="Citroën">Citroën</option>
                                        <option value="Dodge">Dodge</option>
                                        <option value="Ferrari">Ferrari</option>
                                        <option value="Fiat">Fiat</option>
                                        <option value="Ford">Ford</option>
                                        <option value="Holden">Holden</option>
                                        <option value="Honda">Honda</option>
                                        <option value="Hyundai">Hyundai</option>
                                        <option value="Jaguar">Jaguar</option>
                                        <option value="Jeep">Jeep</option>
                                        <option value="Kia">Kia</option>
                                        <option value="Land Rover">Land Rover</option>
                                        <option value="Lamborghini">Lamborghini</option>
                                        <option value="Lexus">Lexus</option>
                                        <option value="Lincoln">Lincoln</option>
                                        <option value="Lotus">Lotus</option>
                                        <option value="Maserati">Maserati</option>
                                        <option value="Mazda">Mazda</option>
                                        <option value="McLaren">McLaren</option>
                                        <option value="Mercedes">Mercedes</option>
                                        <option value="Mitsubishi">Mitsubishi</option>
                                        <option value="Nissan">Nissan</option>
                                        <option value="Opel">Opel</option>
                                        <option value="Peugeot">Peugeot</option>
                                        <option value="Plymouth">Plymouth</option>
                                        <option value="Pontiac">Pontiac</option>
                                        <option value="Porsche">Porsche</option>
                                        <option value="Renault">Renault</option>
                                        <option value="Rolls-Royce">Rolls-Royce</option>
                                        <option value="SEAT">SEAT</option>
                                        <option value="Škoda">Škoda</option>
                                        <option value="Smart">Smart</option>
                                        <option value="Subaru">Subaru</option>
                                        <option value="Suzuki">Suzuki</option>
                                        <option value="Toyota">Toyota</option>
                                        <option value="Tesla">Tesla</option>
                                        <option value="Volkswagen">Volkswagen</option>
                                        <option value="Volvo">Volvo</option>
                                        <option value="Other">Other...</option>
                                    </select>
                                    <br>
                                    <h3>Model</h3>
                                    <input type="textarea" class="car-model" [(ngModel)]="newUserCarModel">


                                    <br>
                                    <!-- Image Upload -->

                                    <h3>Image</h3>
                                    <form ngNoForm>

                                        <input id="file" name="file" type="file" accept="image/*">

                                    </form>
                                    <br>

                                    <h3>Open to Offers?</h3>
                                    <select [(ngModel)]="newUserCarSale">
                                        <option value="Not Open to Offers">Not Open to Offers</option>
                                        <option value="Is Open to Offers">Is Open to Offers</option>


                                    </select>
                                    <br>

                                    <div *ngIf="newUserCarSale=='Is Open to Offers'">
                                        <br>
                                        <h3>Price</h3>
                                        <input type="number" step="any" [(ngModel)]="newUserCarPrice" />
                                    </div>


                                    <br>
                                    <button class="btn btn-primary btn-sm" (click)="sendUserCar(); lgModal.hide()">Post</button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div>
                    <div *ngIf="afService.displayName==null">
                        <div class="btn-group" dropdown>
                            <button id="single-button" type="button" class="btn btn-primary" dropdownToggle><span class="glyphicon glyphicon-sort-by-attributes"></span> &nbsp; &nbsp; Sort By... <span class="caret"></span> </button>
                            <ul dropdownMenu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a class="dropdown-item" (click)=sortByBrand()>Sort by Brand</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)=sortByUser()>Sort by User</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)=sortByTime()>Sort by Time Posted</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)=sortByLikes()>Sort by Likes</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)=sortByPrice()>Sort by Price</a></li>
                            </ul>
                        </div>
                    </div>

                    <h3>Search myAuto</h3>
                    <input type="text" [(ngModel)]="userPostsFilter.brand" placeholder="Search Make">
                    <input type="text" [(ngModel)]="userPostsFilter.model" placeholder="Search Model">
                    <label>Open to Offers?</label>
                    <select [(ngModel)]="userPostsFilter.sale">
                        <option value="Is Open to Offers">Is Open to Offers</option>
                        <option value="Not Open to Offers">Not Open to Offers</option>
                        <option value="">Any</option>

                    </select>


                </div>
            </figure>






            <div id="usercars">
                <div id="usercar" *ngFor="let usercar of usercars | async | filterBy:userPostsFilter | paginate: { itemsPerPage: 5, currentPage: p }">

                    <h3>{{ usercar.displayName }}'s {{ usercar.brand }}</h3>
                    <!-- Show Image -->

                    <div align="center">
                        <img [src]="usercar.url" style="width:60%; box-shadow: 5px 5px 2px #888888; border-style: solid;border-width: 1px 1px 1px 1px;">
                    </div>
                    <br>

                    <p>Brand: {{ usercar.brand }}</p>
                    <p>Model: {{ usercar.model }}</p>
                    <p>Likes: {{usercar.likes}}</p>
                    <p>{{usercar.sale}}</p>
                    <div *ngIf="usercar.price>0">
                        <p>{{usercar.price | currency:'EUR':true:'1.2-2'}}</p>
                    </div>

                    <div class="author">
                        Posted by: {{ usercar.displayName }} on {{ usercar.timestamp | date:"medium" }}
                        <br>



                    </div>

                    <br>




                    <div *ngIf="afService.email==usercar.email || afService.email=='admin@myauto.site'">

                        <button class="btn btn-warning btn-xs" (click)="editModal.show(); startedit(usercar.brand, usercar.model, usercar.sale, usercar.price);">Edit</button>
                        <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title pull-left">Edit Confirmation?</h4>
                                        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <figure class="highlight">

                                            <h3>Brand:</h3>
                                            <select [(ngModel)]="oldBrand">
                                                <option value="Audi">Audi</option>
                                                <option value="Alfa Romeo">Alfa Romeo</option>
                                                <option value="Aston Martin">Aston Martin</option>
                                                <option value="Bentley">Bentley</option>
                                                <option value="BMW">BMW</option>
                                                <option value="Buick">Buick</option>
                                                <option value="Bugatti">Bugatti</option>
                                                <option value="Cadillac">Cadillac</option>
                                                <option value="Chevrolet">Chevrolet</option>
                                                <option value="Chrysler">Chrysler</option>
                                                <option value="Citroën">Citroën</option>
                                                <option value="Dodge">Dodge</option>
                                                <option value="Ferrari">Ferrari</option>
                                                <option value="Fiat">Fiat</option>
                                                <option value="Ford">Ford</option>
                                                <option value="Holden">Holden</option>
                                                <option value="Honda">Honda</option>
                                                <option value="Hyundai">Hyundai</option>
                                                <option value="Jaguar">Jaguar</option>
                                                <option value="Jeep">Jeep</option>
                                                <option value="Kia">Kia</option>
                                                <option value="Land Rover">Land Rover</option>
                                                <option value="Lamborghini">Lamborghini</option>
                                                <option value="Lexus">Lexus</option>
                                                <option value="Lincoln">Lincoln</option>
                                                <option value="Lotus">Lotus</option>
                                                <option value="Maserati">Maserati</option>
                                                <option value="Mazda">Mazda</option>
                                                <option value="McLaren">McLaren</option>
                                                <option value="Mercedes">Mercedes</option>
                                                <option value="Mitsubishi">Mitsubishi</option>
                                                <option value="Nissan">Nissan</option>
                                                <option value="Opel">Opel</option>
                                                <option value="Peugeot">Peugeot</option>
                                                <option value="Plymouth">Plymouth</option>
                                                <option value="Pontiac">Pontiac</option>
                                                <option value="Porsche">Porsche</option>
                                                <option value="Renault">Renault</option>
                                                <option value="Rolls-Royce">Rolls-Royce</option>
                                                <option value="SEAT">SEAT</option>
                                                <option value="Škoda">Škoda</option>
                                                <option value="Smart">Smart</option>
                                                <option value="Subaru">Subaru</option>
                                                <option value="Suzuki">Suzuki</option>
                                                <option value="Toyota">Toyota</option>
                                                <option value="Tesla">Tesla</option>
                                                <option value="Volkswagen">Volkswagen</option>
                                                <option value="Volvo">Volvo</option>
                                                <option value="Other">Other...</option>
                                            </select>
                                            <h3>Model</h3>
                                            <input type="textarea" class="car-model" [(ngModel)]="oldModel">
                                            <br>

                                            <h3>Open to Offers?</h3>
                                            <select [(ngModel)]="oldSale">
                                                <option value="Not Open to Offers">Not Open to Offers</option>
                                                <option value="Is Open to Offers">Is Open to Offers</option>


                                            </select>
                                            <br>

                                            <div *ngIf="oldSale=='Is Open to Offers'">
                                                <br>
                                                <h3>Price</h3>
                                                <input type="number" step="any" [(ngModel)]="oldPrice" />
                                            </div>
                                            <br>
                                            <button class="btn btn-danger btn-xs" (click)="editModal.hide()">Cancel</button>

                                            <button class="btn btn-warning btn-xs" (click)="editUserCar(usercar.$key, oldBrand, oldModel, oldSale, oldPrice)">Confirm</button>

                                        </figure>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- DELETE -->
                        <a class="btn btn-xs btn-danger" (click)="delModal.show()"><span class="glyphicon glyphicon-trash"></span> Delete</a>

                        <div bsModal #delModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title pull-left">Delete Confirmation?</h4>
                                        <button type="button" class="close pull-right" aria-label="Close" (click)="delModal.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>{{afService.displayName}} You Are Deleting:</h4>
                                        <h4>{{usercar.brand}}</h4>
                                        <h4>{{usercar.model}}</h4>

                                        <button class="btn btn-danger btn-xs" (click)="deleteUserCar(usercar.$key)">Confirm Deletion</button>
                                        <button class="btn btn-warning btn-xs" (click)="delModal.hide()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                    <a *ngIf="afService.displayName!=null" class="btn btn-success btn-xs" (click)="likeUserCar(usercar.$key, usercar.displayName, usercar.brand, usercar.model, usercar.likes, usercar.url, usercar.sale, usercar.price);"><span class="glyphicon glyphicon-thumbs-up"></span> Like {{usercar.brand}}</a>

                    <button class="btn btn-info btn-xs" (click)="usercar.showcomment = !usercar.showcomment">Show/Hide Comments</button>
                    <div *ngIf="usercar.showcomment">
                        <br>
                        <div id="comments" *ngFor="let comment of comments | async">

                            <div *ngIf="usercar.$key==comment.postid">
                                {{comment.comment}}
                                <div class="author">
                                    {{comment.displayName}} @ {{comment.timestamp | date:"medium"}}
                                    <br> <b (click)="delcomModal.show()" *ngIf="afService.email==comment.email || afService.email=='admin@myauto.site'" style="cursor: pointer;">Remove</b>
                                </div>
                                <div bsModal #delcomModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title pull-left">Delete Comment?</h4>
                                                <button type="button" class="close pull-right" aria-label="Close" (click)="delcomModal.hide()">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>{{afService.displayName}} You Are Deleting:</h4>
                                                <h4>Comment: {{comment.comment}}</h4>
                                                <button class="btn btn-danger btn-xs" (click)="deleteUserCarComment(comment.$key);">Confirm Deletion</button>
                                                <button class="btn btn-warning btn-xs" (click)="delcomModal.hide()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br>
                        <div *ngIf="afService.displayName!=null">

                            <input type="textarea" placeholder="Enter A Comment..." class="car-model" [(ngModel)]="newUserCarComment">
                            <button class="btn btn-primary btn-xs" (click)="sendUserCarComment(usercar.$key)">Comment</button>
                            <button class="btn btn-danger btn-xs" (click)="commentClear()">Cancel</button>
                        </div>
                    </div>



                    <br>
                    <br>



                </div>







            </div>
            <pagination-controls align="center" (pageChange)="p = $event"></pagination-controls>

            <div id="comments">


            </div>


        </div>

    </div>


</div>
